<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<context:property-placeholder location="classpath:zlvp.properties" />

	<bean id="syntheticaInitializer" class="de.zlvp.SyntheticaInitializer">
		<property name="licensee" value="${zlvp.synthetica.licensee}" />
		<property name="registrationNumber" value="${zlvp.synthetica.licenseRegistrationNumber}" />
		<property name="syntheticaKey" value="${zlvp.synthetica.license.key}" />
		<property name="syntheticaAddonKey" value="${zlvp.syntheticaAddons.license.key}" />
	</bean>

	<bean id="fensterKlasse" class="de.zlvp.gui.FensterKlasse" depends-on="syntheticaInitializer" />

	<bean class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="target">
			<bean class="de.zlvp.reports.ReportsImpl">
				<property name="dataSource" ref="dataSource" />
				<property name="fensterKlasse" ref="fensterKlasse" />
			</bean>
		</property>
		<property name="interceptorNames">
			<list>
				<value>traceIdInterceptor</value>
				<value>methodLogInterceptor</value>
			</list>
		</property>
	</bean>

	<bean id="trimInterceptor" class="de.zlvp.TrimInterceptor" />
	
	<task:executor id="taskExecutor" pool-size="5-10" queue-capacity="100"/>

	<task:executor id="taskExecutor" pool-size="5-10" queue-capacity="100" />

	<bean id="asyncAndErrorInterceptor" class="de.zlvp.AsyncAndErrorInterceptor">
		<property name="taskExecutor" ref="taskExecutor" />
		<property name="fensterKlasse" ref="fensterKlasse" />
	</bean>

	<bean id="methodLogInterceptor" class="org.springframework.aop.interceptor.CustomizableTraceInterceptor">
		<property name="enterMessage" value="Start: $[targetClassShortName]#$[methodName] $[arguments]" />
		<property name="exitMessage" value="Stop: $[targetClassShortName]#$[methodName] $[returnValue] Duration: $[invocationTime]" />
		<property name="exceptionMessage" value="Exception: $[exception]" />
	</bean>

	<bean id="transactionInterceptor" class="org.springframework.transaction.interceptor.TransactionInterceptor">
		<property name="transactionManager">
			<bean class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
				<property name="dataSource" ref="dataSource" />
			</bean>
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>
	
	<bean id="traceIdInterceptor" class="de.zlvp.TraceIdInterceptor" />

	<bean class="de.zlvp.Client" />

	<bean id="sshConnection" class="de.zlvp.SSHConnection">
		<property name="hostname" value="${zlvp.server.hostname}" />
		<property name="keyfilePassword" value="${zlvp.ssh.keyfilePassword}" />
		<property name="sshLocalport" value="${zlvp.ssh.localport}" />
		<property name="sshUsername" value="${zlvp.ssh.username}" />
	</bean>

	<bean class="de.zlvp.Updater">
		<property name="sshConnection" ref="sshConnection" />
	</bean>

	<bean id="dataSource" class="com.zaxxer.hikari.HikariDataSource">
		<property name="driverClassName" value="org.postgresql.Driver" />
		<property name="jdbcUrl" value="jdbc:postgresql:zlvp" />
		<property name="maxLifetime" value="30000" />
	</bean>

	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="abstractDao" class="de.zlvp.dao.AbstractDao" abstract="true">
		<property name="jdbc" ref="jdbcTemplate" />
	</bean>

	<bean id="personDao" class="de.zlvp.dao.PersonDao" parent="abstractDao" />
	<bean id="gruppeDao" class="de.zlvp.dao.GruppeDao" parent="abstractDao" />
	<bean id="teilnehmerDao" class="de.zlvp.dao.TeilnehmerDao" parent="abstractDao" />

	<bean class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="target">
			<bean class="de.zlvp.controller.ControllerImpl">
				<property name="anredeDao">
					<bean class="de.zlvp.dao.AnredeDao" parent="abstractDao" />
				</property>
				<property name="essenDao">
					<bean class="de.zlvp.dao.EssenDao" parent="abstractDao" />
				</property>
				<property name="gruppeDao" ref="gruppeDao" />
				<property name="jahrDao">
					<bean class="de.zlvp.dao.JahrDao" parent="abstractDao" />
				</property>
				<property name="lagerDao">
					<bean class="de.zlvp.dao.LagerDao" parent="abstractDao" />
				</property>
				<property name="lagerinfoDao">
					<bean class="de.zlvp.dao.LagerinfoDao" parent="abstractDao" />
				</property>
				<property name="lagerortDao">
					<bean class="de.zlvp.dao.LagerortDao" parent="abstractDao" />
				</property>
				<property name="legendaDao">
					<bean class="de.zlvp.dao.LegendaDao" parent="abstractDao" />
				</property>
				<property name="legendatypDao">
					<bean class="de.zlvp.dao.LegendatypDao" parent="abstractDao" />
				</property>
				<property name="leiterDao">
					<bean class="de.zlvp.dao.LeiterDao" parent="abstractDao" />
				</property>
				<property name="materialwartDao">
					<bean class="de.zlvp.dao.MaterialwartDao" parent="abstractDao" />
				</property>
				<property name="personDao" ref="personDao" />
				<property name="programmDao">
					<bean class="de.zlvp.dao.ProgrammDao" parent="abstractDao" />
				</property>
				<property name="schadenDao">
					<bean class="de.zlvp.dao.SchadenDao" parent="abstractDao" />
				</property>
				<property name="stabDao">
					<bean class="de.zlvp.dao.StabDao" parent="abstractDao" />
				</property>
				<property name="teilnehmerDao" ref="teilnehmerDao" />
				<property name="zeltDao">
					<bean class="de.zlvp.dao.ZeltDao" parent="abstractDao" />
				</property>
				<property name="zeltdetailBezeichnungDao">
					<bean class="de.zlvp.dao.ZeltdetailBezeichnungDao" parent="abstractDao" />
				</property>
				<property name="zeltverleihDao">
					<bean class="de.zlvp.dao.ZeltverleihDao" parent="abstractDao" />
				</property>
				<property name="userDao">
					<bean class="de.zlvp.dao.UserDao" parent="abstractDao" />
				</property>
				<property name="zeltdetailDao">
					<bean class="de.zlvp.dao.ZeltdetailDao" parent="abstractDao" />
				</property>
			</bean>
		</property>
		<property name="interceptorNames">
			<list>
				<value>traceIdInterceptor</value>
				<value>asyncAndErrorInterceptor</value>
				<value>methodLogInterceptor</value>
				<value>transactionInterceptor</value>
				<value>trimInterceptor</value>
			</list>
		</property>
	</bean>

	<bean class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="target">
			<bean class="de.zlvp.controller.ExcelControllerImpl">
				<property name="personDao" ref="personDao" />
				<property name="teilnehmerDao" ref="teilnehmerDao" />
				<property name="gruppeDao" ref="gruppeDao" />
			</bean>
		</property>
		<property name="interceptorNames">
			<list>
				<value>traceIdInterceptor</value>
				<value>transactionInterceptor</value>
			</list>
		</property>
	</bean>

</beans>
